* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto';
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
.container {
    width: 1280px;
    margin: 0 auto;
}
.header_title {
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    align-items: center;
    color:rgba(4, 198, 247, 0.705);
    margin-bottom: 38px;
}
.header_span {
    color: #000;
}
.header_nav_menu {
    display: flex;
    margin-bottom: 48px;
}
.header_nav_menu_links {
    background-color: rgba(53, 68, 79, 1);
    padding: 26px 30px 19px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-right: 1px;   
}
.header_nav_menu_links:first-child {
    width: 150px;
}
.header_nav_menu_links:last-child {
    width: 120px;
}
.header_nav_menu_links:hover{
    background-color: #222F3A;
}
.block_main_content {
    display: flex;
}
.aside_menu {
    width: 344px;
    max-height: 399px;
    border: 1px solid #000000;
}
.aside_menu_list li {
    padding: 26px 0;
}
.aside_menu_list li:hover {
    background: rgba(219, 219, 219, 1);
    color: #000;
    padding-left: 20px;
}
.aside_menu_link {
    color: #495863;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    align-items: center;
    padding-left: 20px;
}
.aside_menu_link:hover {
    color: #000;
}
.main {
    width: 805px;
    margin-left: 52px;
}
.main_img {
    height: 529px;
    border: 1px solid #000000;
    background: url(../img/img_block_main.png) no-repeat 50% 50%;
    margin-bottom: 37px;
    background-size: 320px 381px;
}
.main_img:hover{
    background-size: 360px 420px;
    transition: 1s;
}
.main_text_info {
    color: #2C2C2C;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
.main_text_russian {
    margin-bottom: 34px;
}
.main_text_english {
    margin-bottom: 54px;
}
.footer_nav_menu {
    display: flex;
    margin-bottom: 30px;
}
.footer_nav_menu_links {
    background-color: rgba(99, 105, 110, 0.48);
    padding: 20px 0 21px 20px;
    color: #0C1927;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
}
.footer_nav_menu_links:last-child {
    padding-left: 135px;
    padding-right: 20px;
}
.footer_nav_menu_links:hover {
    color: #3181A6;
}
.footer_nav_menu_links:last-child:hover{
    color: #0C1927;
}
